target/
**/target/
.git/
**/.git/
node_modules/
**/node_modules/
.idea/
*.log
hs_err_*.log
replay_*.log
*.json
*.txt
*.yaml
*.md
*.yml
!pom.xml
!settings.xml
!Dockerfile
!src/
!**/src/
!**/pom.xml
!portfolio-app/target/*.jar

